@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua&display=swap');

body {
    margin: 0;
    padding: 0;
    background: url("/public/img/background.png") no-repeat center center;
    background-size: cover;
    height: 13282px;
}

.top-panel {
    align-items: center;
    background-color: #2D2F30;
    display: flex;
    height: 77.102px;
}

.top-panel p{
    color: #FFF;
    font-family: "Inknut Antiqua";
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-left: 30px;
    width: 67px;
    height: 57.594px;
}