@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

body {
    margin: 0;
    padding: 0;
    background: url("/public/img/background.png") no-repeat center center;
    background-size: cover;
    height: 13282px;
}

.top-panel {
    align-items: center;
    background-color: #2D2F30;
    display: flex;
    height: 77.102px;
}

.top-panel p {
    color: #FFF;
    font-family: "Inknut Antiqua";
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-left: 30px;
    width: 67px;
    height: 57.594px;
    flex-shrink: 0;
}

.Main {
    position: relative;
    /* 내부 요소를 absolute로 배치하기 위해 */
}

.Main img {
    margin-top: 45px;
    margin-left: 37px;
    width: 1800px;
    height: auto;
    image-rendering: crisp-edges;
}

.hashtags {
    position: absolute;
    bottom: 36%;
    left: 58%;
    color: #2D2F30;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 580;
    line-height: normal;
}

.apply {
    position: absolute;
    bottom: 25.5%;
    left: 73%;
    transform: translateX(-50%);
    border: none;
    cursor: pointer;
    color: #FFF;
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 580;
    line-height: normal;
    display: flex;
    width: 300px;
    height: 76.857px;
    padding: 23px 90px;
    justify-content: center;
    align-items: center;
    border-radius: 60px;
    background: #F19744;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

button {
    transition: transform 0.2s ease-in-out;
    /* 부드러운 애니메이션 */
}

button:hover {
    transform: translateX(-50%) scale(1.1);
}

.info {
    position: absolute;
    bottom: 17%;
    left: 73%;
    transform: translateX(-50%);
    color: #2D2F30;
    text-align: center;
    font-family: Inter;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
}

.info a {
    text-decoration: none;
}

.board-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f8f8e5;
    padding: 20px;
    border-radius: 10px;
}

.title {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    border-radius: 28px;
    background: #F19744;
    width: 473px;
    height: 65px;
    flex-shrink: 0;
    text-align: center;
    margin-top: 158px;
    margin-left: 180px;
    padding-top: 25px;
}

.members-sw {
    margin-top: 84px;
    gap: 202px; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.members-de {
    gap: 174px; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.member-card {
    width: 372px;
    height: 452px;
}

.green {
    background: #829939;
}

.orange {
    background: #F19744;
}

.profile-pic {
    place-items: center;
    width: 216px;
    height: 216.695px;
    flex-shrink: 0;
    margin: 48px 48px 48px 48px;
}

.empty-pic {
    width: 216px;
    height: 216.695px;
    background-color: #ddd;
    margin: 48px 48px 48px 48px;
}

.name {
    font-weight: bold;
    margin-top: 10px;
    width: 187.601px;
    height: 53px;
    text-align: center;
    background-color: #FFF;
    margin: 45px 62px 30px 62px;
    color: #000;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.hashtags {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5px;
}

.tag {
    padding: 4px 8px;
    border-radius: 5px;
    font-size: 12px;
    color: #444;
    display: block;
}