@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Istok+Web&display=swap');

body {
    margin: 0;
    padding: 0;
    background: url("/public/img/background.png") no-repeat center center/contain;
    background-size: cover;
    height: 13282px;
    max-width: 1850px;
}

.top-panel {
    align-items: center;
    background-color: #2D2F30;
    display: flex;
    height: 77.102px;
    width: 1878.5px;
}

.top-panel p {
    color: #FFF;
    font-family: "Inknut Antiqua";
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-left: 30px;
    width: 67px;
    height: 57.594px;
    flex-shrink: 0;
}

.Main {
    position: relative;
}

.Main img {
    margin-top: 45px;
    margin-left: 37px;
    width: 1800px;
    height: auto;
    image-rendering: crisp-edges;
}

.hashtags {
    position: absolute;
    bottom: 36%;
    left: 58%;
    color: #2D2F30;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 580;
    line-height: normal;
}

.apply {
    position: absolute;
    bottom: 25.5%;
    left: 73%;
    transform: translateX(-50%);
    border: none;
    cursor: pointer;
    color: #FFF;
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 580;
    line-height: normal;
    display: flex;
    width: 300px;
    height: 76.857px;
    padding: 23px 90px;
    justify-content: center;
    align-items: center;
    border-radius: 60px;
    background: #F19744;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

button {
    transition: transform 0.2s ease-in-out;
}

button:hover {
    transform: translateX(-50%) scale(1.1);
}

.info {
    position: absolute;
    bottom: 17%;
    left: 73%;
    transform: translateX(-50%);
    color: #2D2F30;
    text-align: center;
    font-family: Inter;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
}

.info a {
    text-decoration: none;
}

.board-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f8f8e5;
    padding: 20px;
    border-radius: 10px;
}

.title {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: 75px;
    border-radius: 28px;
    background: #F19744;
    width: 450px;
    height: 75px;
    text-align: center;
    margin-top: 158px;
    margin-left: 180px;
}

.members-sw {
    margin-top: 100px;
    gap: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.members-de {
    gap: 210px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 400px;
}

.member-card {
    width: 320px;
    height: 420px;
    padding: 20px;
}

.green {
    background: #829939;
}

.orange {
    background: #F19744;
}

.profile-pic {
    place-items: center;
    width: 250px;
    height: 250px;
    flex-shrink: 0;
    margin: 48px auto;
    display: block;
}

.name {
    font-weight: bold;
    margin-top: 10px;
    width: 220px;
    height: 60px;
    text-align: center;
    background-color: #FFF;
    margin: 50px auto;
    color: #000;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-radius: 28px;
    line-height: 60px;
}

.tag {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: block;
}

.hashtag-container {
    margin-top: 100px;
}

.title2 {
    margin-top: 260px;
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: 75px;
    border-radius: 28px;
    background: #F19744;
    width: 450px;
    height: 75px;
    text-align: center;
    margin-left: 180px;
}

.members2-sw {
    margin-top: 100px;
    gap: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.members2-de {
    gap: 210px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 551px;
}

.tag {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: block;
}

.hashtag-container {
    margin-top: 100px;
}

.members-sw .member-card:first-child {
    border-radius: 150px 0px 0px 0px;
}

.members-sw .member-card:first-child .profile-pic {
    border-radius: 63px 0px 0px 0px;
}

.members-sw .member-card:first-child .empty-pic {
    border-radius: 63px 0px 0px 0px;
}

.members-sw .member-card:last-child {
    border-radius: 0px 0px 150px 0px;
}

.members-sw .member-card:last-child .profile-pic {
    border-radius: 0px 0px 63px 0px;
}

.members-sw .member-card:last-child .empty-pic {
    border-radius: 0px 0px 63px 0px;
}

.members2-sw .member-card:first-child {
    border-radius: 150px 0px 0px 0px;
    margin-top: 133px;
}

.members2-sw .member-card:nth-child(3) {
    margin-top: 133px;
}

.members2-sw .member-card:first-child .profile-pic {
    border-radius: 63px 0px 0px 0px;
}

.members2-sw .member-card:first-child .empty-pic {
    border-radius: 63px 0px 0px 0px;
}

.members2-sw .member-card:last-child {
    border-radius: 0px 0px 150px 0px;
}

.members2-sw .member-card:last-child .profile-pic {
    border-radius: 0px 0px 63px 0px;
}

.members2-sw .member-card:last-child .empty-pic {
    border-radius: 0px 0px 63px 0px;
}

.members2-de .member-card:first-child {
    margin-top: 103px;
}

.title3 {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: 75px;
    border-radius: 28px;
    background: #F19744;
    width: 450px;
    height: 75px;
    text-align: center;
    margin-top: 350px;
    margin-left: 180px;
}

.slick-slide {
    padding-top: 84px;
    padding-left: 190px;
    width: 1019.735px;
    height: 591.558px;
    object-fit: fill;
}


.title4 {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: 75px;
    border-radius: 28px;
    background: #F19744;
    width: 450px;
    height: 75px;
    text-align: center;
    margin-top: 158px;
    margin-left: 180px;
}

.history1 {
    display: flex;
    position: relative;
}

.history1 img {
    margin-top: 81PX;
    margin-left: 246px;
    width: 603px;
    height: 390px;
    object-fit: fill;
}

.history1 .subtitle {
    width: 281px;
    height: 79px;
    flex-shrink: 0;
    border-radius: 28px;
    background-color: #829939;
    text-align: center;
    line-height: 75px;
    margin-top: 320px;
    margin-left: 95px;
    color: #FFF;
    font-family: "Istok Web";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
}

.history1 .award {
    position: absolute;
    top: 88%;
    left: 55.5%;
    transform: translateX(-50%);
    color: #000;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.history2 {
    display: flex;
    position: relative;
}

.history2 img {
    margin-top: 81PX;
    margin-left: 78px;
    width: 603px;
    height: 390px;
    object-fit: fill;
}

.history2 .subtitle {
    width: 281px;
    height: 79px;
    flex-shrink: 0;
    border-radius: 28px;
    background-color: #829939;
    text-align: center;
    line-height: 75px;
    margin-top: 320px;
    margin-left: 575px;
    color: #FFF;
    font-family: "Istok Web";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
}

.history2 .award {
    position: absolute;
    text-align: right;
    top: 88%;
    left: 39.5%;
    transform: translateX(-50%);
    color: #000;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.title5 {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: 75px;
    border-radius: 28px;
    background: #F19744;
    width: 450px;
    height: 75px;
    text-align: center;
    margin-top: 158px;
    margin-left: 180px;
}

.dif1 {
    position: relative;
    margin-left: 1000px !important;
}

.dif1 p {
    position: relative;
    width: 529px;
    height: 225px;
    flex-shrink: 0;
    border-radius: 26px;
    background: #FFFAE7;
    color: #1F1F1F;
    font-family: Inter;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 200px;
    text-align: center;
}

.dif2 {
    margin-left: 350px !important;
    position: relative;
}

.dif2 p {
    width: 529px;
    height: 225px;
    flex-shrink: 0;
    border-radius: 26px;
    background: #FFFAE7;
    color: #1F1F1F;
    font-family: Inter;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 200px;
    text-align: center;
}

.feel1 {
    position: relative;
    margin-left: 1000px !important;
}

.feel1 p {
    position: relative;
    width: 529px;
    height: 225px;
    flex-shrink: 0;
    border-radius: 26px;
    background: #FFFAE7;
    color: #1F1F1F;
    font-family: Inter;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 200px;
    text-align: center;
}

.feel2 {
    margin-left: 350px !important;
}

.feel2 p {
    width: 529px;
    height: 225px;
    flex-shrink: 0;
    border-radius: 26px;
    background: #FFFAE7;
    color: #1F1F1F;
    font-family: Inter;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 200px;
    text-align: center;
}

.title6 {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: 75px;
    border-radius: 28px;
    background: #F19744;
    width: 450px;
    height: 75px;
    text-align: center;
    margin-top: 158px;
    margin-left: 180px;
}