body{
    margin: 0px;
}

.top-panel {
    align-items: center;
    background-color: #181B1F;
    display: flex;
    height: 80px;
}

.container {
    text-align: center;
    padding-top: 20%;
}

.period {
    display: flex;
    justify-content: center;
    
}

.period button {
    margin: 5px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    background-color: #f0f0f0;
    border-radius: 20px;
    transition: 0.3s;
}

.period button.active {
    background-color: orange;
    color: white;
}

.members-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    justify-items: center;
}

.member-card {
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 200px;
}

.member-img {
    width: 100%;
    border-radius: 10px;
}
